<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}

    <!-- main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-md-12 mx-auto">
                <div class="row">
                    <!-- left main header -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about-us.jpg" alt="Sagar" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                         <h1>I am a<span class="text_color"> Mern Stack Learner </span>And trying to make a project
                        </h1> 
                         <a href="/weather"><button class="btn btn-success">About Us</button></a>  
                    </div>
                    <!-- right main header -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer code -->
     {{>footer}}
</body>
</html>